@model Student_Registration.Models.Students

@{
    ViewBag.Title = "Delete";
}

<h3>Öğrenci Silme</h3>

<h3>Gerçekten silmek istediğine emin misin?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.İsim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.İsim)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Soyisim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Soyisim)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefon)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()


        <div class="form-actions no-color">
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">Sil</button> |
            <a class="btn btn-primary" href="@Url.Action("Index", "Student")">Öğrenci Listesine Git</a>


            <div id="deleteModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal içeriği -->
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Öğrenciyi Sil</h4>
                            <button type="button" class="btn-close" data-dismiss="modal"></button>
                        </div>
                        <div class="modal-body">
                            <p>Bu öğrenciyi silmek istediğinize emin misiniz?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Hayır</button>
                            <input type="submit" value="Evet" class="btn btn-danger" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

    }


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</div>
